{% extends "shop/layout/main.html" %}

{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-12">{{category}} PRODUCTS</h4>
                <hr style="border-color:#b8bfc2;">
            </div>
           {% if data %}
           <ol>
               {% for product in data %}
               <div class="row">
                   <div class="col-md-4 col-lg-3 col-12">
                       <div class="card my-3">
                           <img src="{{product.product_images.url}}" class="card-image-top" height="200px;" alt="Categories">
                           <a href="{% if product.category and product.category.name %}{% url 'product_details' product.category.name product.name %}{% else %}#{% endif %}">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><center>{{product.name}}</center></h5>
                                <p class="card-text">
                                    <span class="float-start old_price"><s>Rs.{{product.old_price| stringformat:'d'}}</s></span>
                                    <span class="float-end new_price">Rs.{{product.price| stringformat:'d'}}</span>
                                </p>
                            </div>
                        </a>
                        
                       </div>
                   </div>
               </div>
               {% endfor %}
           </ol>
           {% else %}
           <p>No products available</p>
           {% endif %}
        </div>
    </div>
</section>
{% endblock %}
