<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">VULCAN</h5>
                <p>Welcome to our company, where innovation meets excellence. We specialize in providing cutting-edge solutions tailored to meet your unique needs. Our dedicated team is committed to delivering high-quality products and services that empower your business. Partner with us to unlock new opportunities and achieve your goals with confidence and efficiency.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">PRODUCTS</h5>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">THE PROVIDERS</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">CREATIVITY</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">SOURCEFILES</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">BOOTSTRAP</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">USELINKS</h5>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">YOUR ACCOUNTS</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">BECAME AN AFFILIATES</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">SHIPPING RATES</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decordation:none;">HELP</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">CONTACTS</h5>
                <p>
                    <i class="fas fa-home mr-3"></i>puducherry
                </p>
                <p>
                    <i class="fas fa-envelop mr-3"></i>abc123@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>123 12345678
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i>+01 335 633 77
                </p>
            </div>
        </div>

    </div>


</footer>
